body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif, 'normal', 'title';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

@font-face {
	font-family: 'normal';
	src: url('./fonts/SourceSansPro-Regular.otf');
}

@font-face {
	font-family: 'title';
	src: url('./fonts/title.ttf');
}

.yum {
	background-color: rgba(173, 19, 187);
}
